doctype html
html
	head
		title Committee - CSCW 2018
		include ../shared-head

	body

	include ../shared-small-header

	.section.main
		.main-right-content.main-right-content--full
			each c in committeeChairs
				.content-item
					.title(id=c.title)= c.title
					.separator
						span.fa.fa-circle
						span.fa.fa-circle
						span.fa.fa-circle
					each n in c.names
						p!= n
					if(c.email)
						p
							span.fa.fa-envelope-o
							span
								a(href='mailto:' + c.email)= c.email

	include ../shared-footer