@import 'nib';
@import './font-awesome.css';

dark-grey = #151515
light-grey = #F6F6F6
theme-blue = #344591
theme-red = #A23024
theme-yellow = #E5CF00
shadow-grey = #B3B3B3

*
  box-sizing border-box

body
  font-size 18px
  font-family 'Muli', 'Avenir', sans-serif
  font-weight 300
  color dark-grey
  background-color #fff
  width 100vw

a
  outline 0
  transition all .2s
  color dark-grey
  text-decoration underline
  &, &:active, &:focus
    outline none

input
  text-decoration none
  outline 0
  border none
  &, &:active, &:focus
    outline none

input
  -webkit-appearance none

h1,
h2,
h3,
h4
  margin 0
  font-family 'Ubuntu'
  letter-spacing 1px

h3
  font-size 24px
  text-align center
  font-weight 500  
  margin 30px 0

h4
  display inline
  font-weight 500

ul
  margin 0
  padding 0
  list-style-type none
  li
    margin-left 0

.title
  text-transform capitalize
  text-align center
  font-size 28px
  font-weight 900
  font-family 'Ubuntu'
  letter-spacing 1px

.separator
  margin 50px 0
  width 100%
  text-align center
  letter-spacing 10px
  font-size 10px
  .fa:nth-child(1)
    color theme-yellow
  .fa:nth-child(2)
    color theme-red
  .fa:nth-child(3)
    color theme-blue

.separator--w
  .fa:nth-child(n)
    color #fff

.separator-bar
  margin 0 auto 70px auto
  width 50px
  height 4px
  background-color dark-grey

.column
  float left

.section
  min-height 200px
  width 100%
  padding 70px
  overflow hidden

.content-wrapper
  position relative
  left 50%
  top 50%
  transform translate(-50%, -50%)
  text-align center

.link-more
  text-align right
  a
    display inline-block
    transition all .3s
    .fa
      margin-right 6px
      transition all .3s
    &:hover
      transform translateX(2px)
      .fa
        margin-right 8px
        transform translateX(-3px)

ul.nav
  width 100%
  background-color rgba(255, 255, 255, .6)
  height 55px
  line-height 55px
  text-transform uppercase
  padding 0 70px
  font-size 14px
  letter-spacing 1px
  font-weight 700
  transition all .3s
  .content-wrapper
    height 100%
  &:hover
    background-color rgba(255, 255, 255, .8)
  a
    text-decoration none
    height 100%
  li
    display inline-block
    width 120px
    text-align center
    transition all .3s
    &:hover
      background-color light-grey

.nav-mobile
  display none
  text-align right

.collapsed-nav
  display none

.nav-current
  background-color light-grey

.stick-to-top
  position fixed
  z-index 10

.small-header
  min-height 0
  height 120px
  width 100%
  padding 30px 70px
  text-align left
  img
    height 100%
    width auto
    margin-right 30px

.header
  // background url('/assets/bg-home-header.png') no-repeat
  height 80vh
  .content-wrapper
    width 60%
    z-index 2
  img
    width 100%
    margin 30px 0
  .bg-layer
    width 100%
    height 80vh
    position absolute
    top 0
    left 0
  .header-animation
    z-index 0
  .overlay-gradient
    z-index 1
    background linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1))

.welcome
  padding 0 140px 70px 140px
  text-align center

.importantNow
  background-color light-grey
  ul
    margin-top 30px
  .q
    line-height 50px
    display block
    cursor pointer
    .fa
      transition all .1s
      font-size 20px
      margin-right 10px
  .a
    padding-left 15px
    display none

.rotate-chevron
  transform rotate(90deg)

.news
  .column
    background-color light-grey
    overflow scroll
    height 350px
  ul
    margin 30px 0
    list-style-type disc
    li
      margin-left 15px
      margin-bottom 10px

.news-twitter
  margin-right 4%
  width 40%
  border 2px solid light-grey
  iframe
    height 350px !important
.news-local
  width 56%
  padding 30px
  .title
    text-align left

.subscribe
  background-color theme-blue
  color #fff
  text-align center
  transition all .3s

#mailchimp
  #mc_embed_signup_scroll
    *
      display inline-block
    .mc-field-group
      *
        height 50px
        line-height 50px
        padding 0 15px
        margin 0
  #mce-EMAIL,
  #mc-embedded-subscribe
    height 50px
  #mce-responses
    margin-top 15px
    color #fff
    font-size 12px
  a
    color #fff
  .email
    background-color #fff
    color dark-grey
    font-size 16px
    width 400px
  .mce_inline_error
    font-size 16px
    font-weight 300
  .button
    padding 0 20px
    background-color rgba(0,0,0,0)
    border 1px solid #fff
    color #fff
    transition all .2s
    font-size 16px
    &:hover
      background-color rgba(255,255,255,.3)
  @media screen and (max-width: 900px)
    #mc_embed_signup_scroll
      *
        display block
      .mc-field-group
        *
          width 80vw
    #mce-EMAIL,
    #mc-embedded-subscribe
      width 80vw

.cfp
  background-color light-grey

.sponsors
  background-color theme-yellow
  color #fff

.committee
  .content
    text-align center

.main
  background-color light-grey

.main-left-menu
  width 20%
  margin-right 5%
  a
    text-decoration none
  ul
    text-align center
  li
    border-bottom 1px solid dark-grey
    transition all .3s
    height 45px
    line-height 45px
    text-transform capitalize
    &:hover
      background-color dark-grey
      color #fff

.main-right-content
  width 75%
  .title,
  .separator
    text-align left
  .content-item
    margin-bottom 50px
  ul
    margin 30px 0
    list-style-type disc
    li
      margin-left 15px
      margin-bottom 10px

.main-right-content--full
  width 100%
  .content-item
    height 450px
    float left
    width 30%
    margin-right 3%
    padding 20px
    background #fff
    box-shadow 0 1px 0 shadow-grey
  .fa-envelope-o
    margin-right 5px

.footer
  background-color light-grey
  padding 15px 0
  text-align center
  font-size 12px
  min-height 0

.dark
  background-color dark-grey
  color #fff
  a
    color #fff

@media screen and (max-width: 900px)
  .header
    .content-wrapper
      width 100%
  .column
    float none
    display block
    width 100%
    margin-bottom 30px
  .section
    padding 30px
  .welcome
    h3
      font-size 16px
  .nav-mobile
    display block
  ul.nav
    padding 0 30px
    .content-wrapper
      display none
      position absolute
      top 55px
      left 0
      width 100vw
      height 100vh
      transform none
      background-color rgba(255,255,255,.8)
    li
      display inline-block
      height 50px
      line-height 50px
      width 100%
      text-align center
  .small-header
    display none
  .full-nav
    display none
  .collapsed-nav
    display block
  .main
    padding-top 55px
  .main-right-content--full
    .content-item
      width 100%
