doctype html
html
	head
		title Location And Venue - CSCW 2018
		include shared-head

	body

	include shared-small-header

	.section.main
		p!= locationIntro.content
		
		:verbatim
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1wXuSTXFRNsmOm5ADhbZ5sUtozOc" width="640" height="480"></iframe>
		:verbatim

	include shared-footer
