.shared-head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width,initial-scale=1')

	meta(name='description' content='CSCW - 2018')
	meta(name='keywords' content='CSCW')
	
	meta(property="og:url" content="https://cscw.acm.org/2018/")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="CSCW - 2018")
	meta(property="og:title" content="CSCW - 2018")
	meta(property="og:description" content="CSCW 2018")
	meta(property="og:image" content="")
	meta(property="og:locale" content="en_US")

	link(rel='shortcut icon' href='/assets/favicon.png')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet')

	script(src='//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js')
	script(src='//code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
	script(src='./main.js')
