.shared-head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width,initial-scale=1')

	meta(name='description' content="CSCW (Fall 2018 / New York City's Hudson River (Jersey City)) is the premier venue for research on computer-supported cooperative work and social computing. Final notifications for CSCW 2018 Online First Submissions will be released on August 6, 2017.")
	meta(name='keywords' content="CSCW, CSCW 2018, CHI, TOCHI, ACM, UIST, ICWSM, social computing")
	
	meta(property="og:url" content="https://cscw.acm.org/2018/")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="CSCW 2018")
	meta(property="og:title" content="CSCW 2018")
	meta(property="og:description" content="CSCW (Fall 2018 / New York City's Hudson River (Jersey City)) is the premier venue for research on computer-supported cooperative work and social computing. Final notifications for CSCW 2018 Online First Submissions will be released on August 6, 2017.")
	meta(property="og:image" content="https://cscw.acm.org/2018/assets/logo-home-header.svg")
	meta(property="og:locale" content="en_US")

	link(rel='shortcut icon' href='./assets/favicon.png')
	link(href='https://fonts.googleapis.com/css?family=Muli|Ubuntu', rel='stylesheet')

	script(src='//code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
	script(src='./main.js')
